<%= bootstrap_form_for [@task, @user_action] do |f| %>
  <% if @user_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_action.errors.count, "error") %> prohibited this user_action from being saved:</h2>

      <ul>
      <% @user_action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_group do %>
    <%= f.text_area :description %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.text_area :system_response_description %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.check_box :question_one_is_true %>
    <%= f.text_area :question_one_explanation %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.check_box :question_two_is_true %>
    <%= f.text_area :question_two_explanation %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.check_box :question_three_is_true %>
    <%= f.text_area :question_three_explanation %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.check_box :question_four_is_true %>
    <%= f.text_area :question_four_explanation %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.text_field :additional_explanation %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.submit "Save" %>
  <% end %>
  
<% end %>
