<%= bootstrap_form_for(@walkthrough) do |f| %>
  <% if @walkthrough.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@walkthrough.errors.count, "error") %> prohibited this walkthrough from being saved:</h2>

      <ul>
      <% @walkthrough.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.form_group do %>
    <%= f.text_area :description %>
  <% end %>
  
  <%= f.form_group do %>
    <%= f.submit 'Save' %>
  <% end %>
<% end %>
